{
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "globals": {
    "$w": "readonly"
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "jest/no-done-callback": "off",
    "jest/prefer-expect-assertions": "error"
  }
}
